.card{
    margin-top: 0px;
    z-index: 3;
}
.card-header {
    vertical-align: bottom;
    cursor: pointer;
}
.jenkins{
    margin-top: 20px;
}
.tag{
    margin-top: 20px;
}
.jenkins-tag{
    margin-top: 20px;
}
#notificationsContainer{
    z-index: 18;
    top: 20px;
    right: 20px;
    left: 20px;
}
canvas {
    border: 0px;
}
.main-flow{
    text-align: center;
}
.main-flow img {
    height: 70px;
}
.secondary-flow{
    text-align: center;
}
.secondary-flow img {
    height: 30px;
}
.test-body {
    padding: 0px;
}
.demo{
    box-shadow: 0 4px 10px 0 red, 0 4px 20px 0 red
}
.progress-bar {
    width: 0%; 
    height: 10px; 
    display: inline-block;
    /* display: block; */
    /* clear: left; */
    /* margin: 0px;
    border: 0px;
    padding: 0px;
    float: left; */
}
.accept-register{
    padding: 70px;
}