<div class="card">
    <div class="jenkins-header card-header bg-secondary text-white no-margin text-nowrap" data-placement="top" title="">
        <img src="images/nobuilt.png" class="jenkins-status" data-alt="name"/>
        <img data-src="icon" class="jenkins-icon" data-alt="name" height="40" />
        <span class="title" data-content="name"></span>
    </div>
    <div class="card-body jenkins-body collapse">
        <span class="text-nowrap">Last buid: <a class="jenkins-last-build" target="_blank"></a></span>
    </div>
    <div class="card-body jenkins-body items collapse"></div>
    <div>
        <div style="width: 95%;">
            <div class="bg-success jenkins-progress" style="width: 0%; height: 5px;">&nbsp;</div>
        </div>
    </div>
    <div class="card-footer">
        <button class="build btn btn-secondary">Build</button>
    </div>
</div>