<div class="card">
    <div class="card-header text-white no-margin title" data-class="class">
        <span data-content="title"></span>
    </div>
    <div class="card-body">
        <div class="item-repos text-nowrap"><img src="images/nobuilt.png">Docker Images<span class="msg"></span></div>
        <div class="item-master text-nowrap"><img src="images/nobuilt.png">Master<span class="msg"></span></div>
        <div class="item-cluster text-nowrap"><img src="images/nobuilt.png">Cluster<span class="msg"></span></div>
        <div class="item-mng-load-balancer text-nowrap"><img src="images/nobuilt.png">Load-Balancer<span class="msg"></span></div>
        <div class="item-managers text-nowrap"><img src="images/nobuilt.png">Managers<span class="msg"></span></div>
        <div class="item-nodes text-nowrap"><img src="images/nobuilt.png">Nodes<span class="msg"></span></div>
        <div class="item-portainer text-nowrap"><img src="images/nobuilt.png">Portainer<span class="msg"></span></div>
        <div class="item-tcm text-nowrap"><img src="images/nobuilt.png">TCM<span class="msg"></span></div>
        <div class="item-gateway text-nowrap"><img src="images/nobuilt.png">Gateway<span class="msg"></span></div>
        <div class="item-docs text-nowrap"><img src="images/nobuilt.png">Documentation<span class="msg"></span></div>
        <div class="item-opc text-nowrap"><img src="images/nobuilt.png">OPC<span class="msg"></span></div>
        <div class="item-api text-nowrap"><img src="images/nobuilt.png">API<span class="msg"></span></div>
    </div>
</div>