<div class="card">
    <div class="card-header bg-secondary text-white no-margin text-nowrap title">
        <img src="images/nobuilt.png" class="jenkins-status" data-alt="name"/>
        <span data-content="name"></span>
    </div>
    <div>
        <div style="width: 95%;">
            <div class="bg-success jenkins-progress" style="width: 0%; height: 5px;">&nbsp;</div>
        </div>
    </div>
    <div class="card-body collapse show tag-details">
        <span class="tag-version text-nowrap"></span><br/>
        <span class="tag-last-deploy text-nowrap"></span><br/>
    </div>
    <div class="card-footer tag-deploy text-nowrap">
        <select class="deploy-version"></select>
        <button class="deploy btn btn-secondary" disabled="true">Deploy</button>
    </div>
</div>