<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <form>
            <div class="modal-header">User Details</div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">Name:</label>
                    <input type="text" name="username" class="form-control username" data-value="username">
                </div>
                <div class="form-group password">
                    <label for="password">New Password:</label>
                    <input type="password" name="password" class="form-control password">
                </div>            
            </div>            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary save" data-dismiss="modal">Save</button>
            </div>
        </form>
    </div>
</div>